<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Single URL</h1>
    <p>Your shortened URL for --> <strong><%= urlDB[param] %></strong></p>

    <a href=<%- urlDB[param] %>><strong><%= param %></strong></a>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>